.add-button-container {
    padding: 10px;
}

.loading-gif {
    text-align: center;
    z-index: 100;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #6B6B6B;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 99;
}

.main-heading{
	text-align: center;
}